@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .banner-container{
        flex-direction: column;
        
    }

    .brand-name{
        font-size: 1.3rem;
        text-align: center;
    }

    .nav-links{
        display: none;
    }

    .banner-container,
    .products-feature{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .banner-content{
        margin-top: 60px;
    }


    /* brands */
    .brands{
        border: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }


    /* cards */
    .cards{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }

    .seeMore-btn{
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* products feature */
    .products-content{
    align-content: center;
    margin-left: 0;
    margin-top: 50px;
}

.products-thamnail{
    margin-top: 40px;
   width: 100%;
}

.products-thamnail  img{
    width: 80%;
}




}