@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .banner-container{
        flex-direction: column;
        
    }

    .brand-name{
        font-size: 1.3rem;
        text-align: center;
    }

    .nav-links{
        display: none;
    }

    .banner-container{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .banner-content{
        margin-top: 60px;
    }


    /* brands */
    .brands{
        border: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}