@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .banner-container{
        flex-direction: column;
        
    }

    .nav-links{
        display: none;
    }

    .banner-container{
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .banner-content{
        margin-top: 60px;
    }

}